<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>http://cnn.com</string>
	<key>BackupURL</key>
	<string>http://bbc.com</string>
	<key>Toolbar</key>
	<true/>
	<key>AdMobBannerUnitId</key>
	<string>ca-app-pub-5514315741534690/3580595564</string>
	<key>AdMobInterstitialUnitId</key>
	<string>ca-app-pub-5514315741534690/5057328761</string>
	<key>OneSignalAppID</key>
	<string>ec291a7f-c387-4c06-a37e-34b0b24d97bf</string>
	<key>MixpanelToken</key>
	<string>02071cb2089de2044c83a80d0d7b29e5</string>
	<key>ShowInterstitialInSecoundsEvery</key>
	<string>60</string>
</dict>
</plist>
